# Compiled/Binary files
__pycache__/
*.pyc

# Dependency directories
venv/
.venv/

# Editor/IDE files
.vscode/
.idea/
*.swp
*.swo

# System/Environment files
.env
.env.local
*.env.*
.DS_Store
Thumbs.db

# Other common ignores
*.log
*.tmptmp_test.db
